/* begin general styles */
body {
    background-color:#fff;
    color:#000;
}
.video-description {
    color:#000;
}
.home,
.videos {
    background-image: url(/assets/images/bkg/climate_change.jpg);
}
.vertical-align .item{
    margin-left:275px;
}
.videos .vertical-align .item {
    margin-left:75px;
}
.vertical-align .row.row_1 {
    margin-top: 300px;
}
